$primary-color: #c243a0;
$secondary-color: #b4a8fa;
$bg-gradient: rgb(121, 88, 61);
$siliguri-font: 'Hind Siliguri', sans-serif; 
$back: linear-gradient(to bottom right, #c243a0, #b4a8fa);
$reverse-background:linear-gradient(to bottom right, #b4a8fa,#c243a0);